{% load url from future %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
    {% block html_head %}
		<head profile="http://gmpg.org/xfn/11">
			{% block html_title %}
				<title>
					{% if html_title %}
						{{ html_title }}
					{% else %}
						{% if settings.html_title %}
							{{ settings.html_title }}
						{% else %}
							The Title
						{% endif %}
					{% endif %}
				</title>
			{% endblock %}
			<link rel="icon" type="image/png" href="/media/images/site-favicon.png">
			<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
			<meta http-equiv="imagetoolbar" content="no" />
			{%comment%}
			-----------------------------------------------------------------------
			STYLING
			-----------------------------------------------------------------------
			{%endcomment%}
        	<link rel="stylesheet/less" type="text/css" href="/media/css/styles.less">
	        {% block headcss %}
	        {% endblock %}

			{%comment%}
			-----------------------------------------------------------------------
			JAVASCRIPT
			-----------------------------------------------------------------------
			{%endcomment%}
			<script type="text/javascript">
	            var ApplicationScope={};function gettext(txt){return txt;}
	        </script>
			<script type="text/javascript" src="/jsi18n/"></script>
			{%comment%}less CSS Javascript http://lesscss.org/{%endcomment%}
	        <script type="text/javascript" src="/media/js/less-css/less-1.2.1.min.js"></script>
			{%comment%}Django Admin Javascript{%endcomment%}
			<script type="text/javascript" src="/admin/media/js/core.js"></script>
			<script type="text/javascript" src="/admin/media/js/admin/RelatedObjectLookups.js"></script>
			<script type="text/javascript" src="/admin/media/js/calendar.js"></script>
			{%comment%}JQuery Javascript{%endcomment%}
	        <script type="text/javascript" src="/media/js/jquery/jquery-1.6.1.js"></script>
	        <script type="text/javascript" src="/media/js/jquery/jquery-ui-1.8.12.custom.min.js"></script>
			{%comment%}JQuery Plugin Cookie{%endcomment%}
	        <script type="text/javascript" src="/media/js/jquery/plugins/jquery.cookie/jquery.cookie.js"></script>
			{%comment%}JQuery Plugin Base64{%endcomment%}
	        <script type="text/javascript" src="/media/js/jquery/plugins/jquery.base64.min.js"></script>
			{%comment%}WarBoard Javascript{%endcomment%}
	        <script type="text/javascript" src="/media/js/warboard.js"></script>
	        {% block headjs %}
	        {% endblock %}
		</head>
	{% endblock %}

    {% block html_body %}
		<body id="core">
			<table width="100%">
				<tr>
					<td>
						<div id="cell_0-0" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_1-0" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_2-0" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="cell_0-1" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_1-1" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_2-1" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="cell_0-2" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_1-2" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_2-2" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
				</tr>
			</table>

			<script type="text/javascript">
				var windowResizeTimerID = null;
				var windowResizeFunctions = { 'doLayout': WarBoard.doLayout };

				jQuery(document).ready(function(){
					WarBoard.doLayout();
					jQuery(window).resize(function(){
						if ( windowResizeTimerID == null)
						{
							// make sure we dont resize on every single little tiny
							// size adjusment, only every half second
							windowResizeTimerID = window.setTimeout(function() {
												windowResizeTimerID = null;
												for(func in windowResizeFunctions)
												{
													windowResizeFunctions[func].call();
												}
											}, 500);
						}
					});

					var projectIDs = ['10014', '10030', '10102' ];
					for(var j=0; j<projectIDs.length; j++)
					{
						var projectID = projectIDs[j];
						var jQcell = jQuery('#cell_'+j+'-0');
						WarBoard.ProjectStatusPanel.init( jQcell, projectID );
					}

					for(var j=0; j<3; j++)
					{
						var jQcell = jQuery('#cell_'+j+'-1');
						WarBoard.MadFlipperPanel.init( jQcell );
					}
				});

			</script>

		</body>
	{% endblock %}
</html>