{% load url from future %}

{% block form_media %}
	{{ beer_choice_form.media }}
{% endblock %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
    {% block html_head %}
		<head profile="http://gmpg.org/xfn/11">
			{% block html_title %}
				<title>
					{% if html_title %}
						{{ html_title }}
					{% else %}
						{% if settings.html_title %}
							{{ settings.html_title }}
						{% else %}
							The Title
						{% endif %}
					{% endif %}
				</title>
			{% endblock %}
			<link rel="icon" type="image/png" href="/media/images/site-favicon.png">
			<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
			<meta http-equiv="imagetoolbar" content="no" />
			{%comment%}
			-----------------------------------------------------------------------
			STYLING
			-----------------------------------------------------------------------
			{%endcomment%}
        	<link rel="stylesheet/less" type="text/css" href="/media/css/styles.less">
	        {% block headcss %}
	        {% endblock %}

			{%comment%}
			-----------------------------------------------------------------------
			JAVASCRIPT
			-----------------------------------------------------------------------
			{%endcomment%}
			<script type="text/javascript">
	            var ApplicationScope={};function gettext(txt){return txt;}
	        </script>
			<script type="text/javascript" src="/jsi18n/"></script>
			{%comment%}less CSS Javascript http://lesscss.org/{%endcomment%}
	        <script type="text/javascript" src="/media/js/less-css/less-1.2.1.min.js"></script>
			{%comment%}Django Admin Javascript{%endcomment%}
			<script type="text/javascript" src="/admin/media/js/core.js"></script>
			<script type="text/javascript" src="/admin/media/js/admin/RelatedObjectLookups.js"></script>
			<script type="text/javascript" src="/admin/media/js/calendar.js"></script>
			{%comment%}JQuery Javascript{%endcomment%}
	        <script type="text/javascript" src="/media/js/jquery/jquery-1.6.1.js"></script>
	        <script type="text/javascript" src="/media/js/jquery/jquery-ui-1.8.12.custom.min.js"></script>
			{%comment%}JQuery Plugin Cookie{%endcomment%}
	        <script type="text/javascript" src="/media/js/jquery/plugins/jquery.cookie/jquery.cookie.js"></script>
			{%comment%}JQuery Plugin Base64{%endcomment%}
	        <script type="text/javascript" src="/media/js/jquery/plugins/jquery.base64.min.js"></script>
			{%comment%}Date.js Javascript{%endcomment%}
	        <script type="text/javascript" src="/media/js/date-js/build/date-en-AU.js"></script>
			{%comment%}WarBoard Javascript{%endcomment%}
	        <script type="text/javascript" src="/media/js/warboard.js"></script>
	        {% block headjs %}
	        {% endblock %}
		</head>
	{% endblock %}

    {% block html_body %}
		<body id="core">
			<table width="100%">
				<tr>
					<td>
						<div id="cell_0-0" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_1-0" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_2-0" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="cell_0-1" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_1-1" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_2-1" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="cell_0-2" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_1-2" class="flipPanel">
							<p>Animation Test</p>
						</div>
					</td>
					<td>
						<div id="cell_2-2" class="flipPanel beerSurvey-panel">
							<h3 style="color: #FFFFFF;
								        font-weight: bold;
								        padding-bottom: 10px;"> {{ poll.question }} </h3>
							
						{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
							
				        <span>{{ beer_choice_form.beername }}</span>
						<input id="vote_button" type="submit" value="Vote" />
						<script>	
							jQuery( "#vote_button" ).button();
						
							function submitVote() {		
								var beer_choice_dropdown_value = jQuery( "#{{ beer_choice_form.beername.auto_id }}" ).val();
								jQuery.ajax({ 
												url:"/1/vote/",
												type:'POST',
												dataType: 'json',
												data:{ "beername":beer_choice_dropdown_value },
												success: function( data ) {
														var html = '<table style="text-align: left ;">';
														for ( var i=0; i < data.length ; i++)
														{
															html += '<tr>';
															html += '<td>' + ( i+1 ) + '.</td>';
															html += '<td>' + data[i]["name"] + '</td>';
															html += '<td>';
															html += '<div style="background-color: grey; width: 80px; border: solid 1px black;">';
															html += '<div style="background-color: blue;  width:' + data[i]["percent"] + '%; text-align: left; padding-left: 10px; color: white;">' + data[i]["percent"] + '%</div>';
															html += '</div>';
															html += '</tr>';

														}
														html += "</table>";
														jQuery( '#beer_table' ).html( html );
												},
												error: function( data ){
												}
								});
							}
					  		jQuery( "#vote_button" ).css( "button span { background: transparent url('bg_button_span.gif') no-repeat; display: block; line-height: 14px; padding: 5px 0 5px 18px;}" );
							jQuery( "#vote_button" ).click( submitVote );
						</script>
							{% csrf_token %}
							<div id="beer_table">
								<table>
								{% for beer in beers_data %}
									<tr style="padding-left: 10px">
										<td style="text-align: left;">{{ forloop.counter }}.</td>
										<td style="text-align: left;">{{ beer.name }}</td>
										<td>
											<div style="background-color: grey; width: 80px; border: solid 1px black;">
												<div style="background-color: blue;  width: {{ beer.percent }}%; text-align: left; padding-left: 10px; color: white;">{{ beer.percent }}%
												</div>
											</div>
										</td>
									</tr>
								{% endfor %}
								</table>
							</div>
						</div>
					</td>
				</tr>
			</table>

			<script type="text/javascript">
				var windowResizeTimerID = null;
				var windowResizeFunctions = { 'doLayout': WarBoard.doLayout };

				jQuery(document).ready(function(){
					WarBoard.doLayout();
					jQuery(window).resize(function(){
						if ( windowResizeTimerID == null)
						{
							// make sure we dont resize on every single little tiny
							// size adjusment, only every half second
							windowResizeTimerID = window.setTimeout(function() {
												windowResizeTimerID = null;
												for(func in windowResizeFunctions)
												{
													windowResizeFunctions[func].call();
												}
											}, 500);
						}
					});

					var projectIDs = ['10014', '10030', '10102' ];
					for(var j=0; j<projectIDs.length; j++)
					{
						var projectID = projectIDs[j];
						var jQcell = jQuery('#cell_'+j+'-0');
						WarBoard.ProjectStatusPanel.init( jQcell, projectID );
					}

					for(var j=0; j<3; j++)
					{
						var jQcell = jQuery('#cell_'+j+'-1');
						WarBoard.MadFlipperPanel.init( jQcell );
					}

					WarBoard.BeerOClockPanel.init( jQuery('#cell_1-2') );

				});

			</script>

		</body>
	{% endblock %}
</html>